<html>
   <head>
	  <meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  <!--[if IE]>
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
	  <title> MusicTop</title>
	  <!-- BOOTSTRAP CORE STYLE  -->
	  <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
	  <!-- FONT AWESOME ICON STYLE  -->
	  <link href="/stylesheets/font-awesome.css" rel="stylesheet"/>
	  <!-- PRETTYPHOTO STYLE  -->
	  <link href="/stylesheets/prettyPhoto.css" rel="stylesheet"/>
	  <!-- CUSTOM STYLE CSS -->
	  <link href="/stylesheets/style.css" rel="stylesheet"/>
	  <!-- CUSTOM THEME COLOR - YOU CAN USE LIGHT & DARK THEMES  -->
	  <link href="/stylesheets/themes/dark.css" rel="stylesheet"/>
	  <!-- GOOGLE FONT -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

	  

   </head>
   <body>
  <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
	 <a class="navbar-brand" href="/bienvenido/index">MusicTop</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">

			<% if logged_in? %>
			<li><a href="/users/show">Usuarios</a></li>
			<li><a href="/cds">CDs</a></li>
			<li><a href="/grupos/grupos">Grupos</a></li>
			<li><a href="/noticias/noticias">Noticias</a></li>
			<li><a href="/conciertos/conciertos">Conciertos</a></li>
			<li><a href="/contacto/contacto">Contacto</a></li>
			<li><a href="/ayuda/help">Ayuda</a></li>
			<li><a href="/logout">Logout</a></li>


			<% else %>
			<li><a href="/login">Login</a></li>		
			<li><a href="/contacto/contacto">Contacto</a></li>
			<li><a href="/ayuda/help">Ayuda</a></li>
			<li><a href="/signup">Registrarse</a></li>
			 <% end %>
			
		 </ul>
	  </div>
   </div>
</div>
 <!-----------------------------parte central-->
<div id="home-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="col-md-8 pad-top scrollclass">
			<h1><align="center"><strong><mark>Bienvenido a MusicTop</strong></align></h1>
			   <p class="home-p">
				  Sumérgete en nuestra aplicación MusicTop registrandote para poder formar parte de nuestra comunidad.
				    <br>
				  En la cual podrás encontrar:
				  <br><mark>-Enlaces de descarga de Cds.</mark>
				  <br>
				   <br><mark>-Ficha de grupos.</mark><br>
				   <br><mark>-Noticias.</mark><br>
				    <br><mark>-Conciertos.</mark><br>
				     <br><mark>-Listas.</mark><br>
			   </p>

		 </div>
	  </div>
	  
   </div>
</div>


 <!-----------------------------parte formulario login-->
<section id="skill-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="row text-center">
		 	
		 

			<div id="warning-message" style="color:red">
 <!-----------------------------condiciones-->
			   <% if @repeat == true %>
				  <p class="bg-danger">El username ya está registrado en MusicTop, elije otro!</p>
			   <% end %>
			   <% if @blanco == true %>
				  <p class="bg-danger">Debes introducir un nombre de usuario o contraseña!</p>
			   <% end %>
			</div>
 <!-----------------------------formulario login-->        
			<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
	  </div>
   </div>
</section>
	
</body>

 <!-----------------------------footer-->
	   <div class="col-md-12 top-margin footer-section">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; Adán Rafael López Lecuona
    </div>
   
</html>