<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Bootstrap Blog Template- Bloga </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap-noticias.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome-noticias.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome-animation-noticias.css" rel="stylesheet" />
    <!-- SIDE MENU STYLE CSS -->
    <link href="assets/css/componentNoticias.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/stylenoticias.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="cbp-spmenu-push">


    <!--LEFT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">

        <a href="#"><i class="fa fa-home fa-3x"></i>JHON DEO</a>

        <a href="#"><i class="fa fa-rocket fa-3x"></i>Profile:<br />
            Lorem ipsum dolor sit amet posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet posuere lectus et, Lorem ipsum dolor sit amet.</a>
        <a href="#">Mail :
            <br />
            info@domainname.com</a>
        <a href="#">Ph. :
            <br />
            +02-456-098-789</a>
        <a href="#">Web :
            <br />
            www.domainname.com</a>
    </nav>

    <div class="row" id="icon-left">
        <div class="col-md-12">
            <i id="showLeftPush" class="fa fa-bars fa-2x faa-horizontal animated "></i>
        </div>
    </div>
    <!--END LEFT SLIDE MENU-->
    <!--NAVBAR-->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="htttp://www.binarytheme.com">MusicTop </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Recent</a>
                    </li>
                    <li><a href="#">Internet</a>
                    </li>
                    <li><a href="#">SEO</a>
                    </li>
                    <li><a href="#">Designing</a>
                    </li>
                    <li><a href="#">Development</a>
                    </li>
                    <li><a href="#">News</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--END NAVBAR-->
    
    <div class="container ">
        <!--Blog Start-->
        <div class="row top-margin-low">
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        OUR SPONSOR
                    </div>
                    <div class="panel-body ">
                        <div class="ad1">
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        CATEGORIES LIST
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Information Technology (90)</a>
                            </li>
                            <li>
                                <a href="#">Search Engine(45) </a>
                            </li>
                            <li>
                                <a href="#">Web Designing(34)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(56)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(09)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(11)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(1)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(67)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(300)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(345)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(45)</a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        NEWLY ADDED POSTS
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Information Technology (90)</a>
                            </li>
                            <li>
                                <a href="#">Search Engine(45) </a>
                            </li>
                            <li>
                                <a href="#">Web Designing(34)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(56)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(09)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(11)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(1)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(67)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(300)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(345)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(45)</a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        OUR SPONSOR
                    </div>
                    <div class="panel-body ">
                        <div class="ad2">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->
            <!--Blog Listing-->
            <div class="col-md-6 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        <strong>Lorem ipsum dolor sit amet posuere lectus</strong>
                    </div>
                    <div class="panel-body ">
                        <div>
                            <img src="assets/img/1.jpg" class="img-responsive" />
                        </div>
                        <div class="txt">
                            Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                        </div>
                        <div class="cat">
                            <a href="#">Technology </a>>
                                <a href="#">Electronics</a> >
                                <a href="#">Mobile </a>
                        </div>
                        <div class="links">
                            <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        <strong>Lorem ipsum dolor sit amet posuere lectus</strong>
                    </div>
                    <div class="panel-body ">
                        <div>
                            <img src="assets/img/2.jpg" class="img-responsive" />
                        </div>
                        <div class="txt">
                            Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                         Lorem ipsum dolor sit amet posuere lectus et
                        </div>
                        <div class="cat">
                            <a href="#">Technology </a>>
                                <a href="#">Electronics</a> >
                                <a href="#">Mobile </a>
                        </div>
                        <div class="links">
                            <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>|
                                <a href="#">Demo link # </a>
                        </div>

                    </div>
                </div>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <!--Blog Listing-->
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad3">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        RECIENTES NOTICIAS
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Information Technology (90)</a>
                            </li>
                            <li>
                                <a href="#">Search Engine(45) </a>
                            </li>
                            <li>
                                <a href="#">Web Designing(34)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(56)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(09)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(11)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(1)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(67)</a>
                            </li>
                            <li>
                                <a href="#">Web Designing(300)</a>
                            </li>
                            <li>
                                <a href="#">Mutilevel Development(345)</a>
                            </li>
                            <li>
                                <a href="#">Technology Trends(45)</a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad4">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad1">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->


        </div>
        <!--Blog end-->


    </div>
    <!-- /.container -->
    <!--Footer -->

    <div class="col-md-12 top-margin footer-section">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; Adán Rafael López Lecuona
    </div>
    <!--Footer end -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-noticias-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap-noticias.js"></script>
    <!-- SIDE MENU SCRIPTS -->
    <script src="assets/javascripts/noticias/modernizr-noticias.custom.js"></script>
    <script src="assets/javascripts/noticias/classie-noticias.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/javascripts/noticias/custom-noticias.js"></script>

</body>
</html>
