<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>MusicTop - Grupos </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/stylesheets/noticias/bootstrap-noticias.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/stylesheets/noticias/font-awesome-noticias.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="assets/stylesheets/noticias/font-awesome-animation-noticias.css" rel="stylesheet" />
    <!-- SIDE MENU STYLE CSS -->
    <link href="assets/stylesheets/noticias/component-noticias.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/stylesheets/noticias/style-noticias.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="cbp-spmenu-push">


   

  <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
	 <a class="navbar-brand" href="/bienvenido/index">MusicTop</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
	
			
			
			<li><a href="/usuarios/usuarios">Usuarios</a></li>
			<li><a href="/album/album">CDs</a></li>
			<li><a href="/grupos/grupos">Grupos</a></li>
			<li><a href="/noticias/noticias">Noticias</a></li>
			<li><a href="/conciertos/conciertos">Conciertos</a></li>
			<li><a href="/lista/lista">Lista</a></li>
			<li><a href="/contacto/contacto">Contacto</a></li>
			<li><a href="/ayuda/help">Ayuda</a></li>
			<li><a href="/registrar/registrar">Registrarse</a></li>
			
		 </ul>
	  </div>
   </div>
</div>
    <!--END NAVBAR-->
    
    <div class="container ">
        <!--Blog Start-->
        <div class="row top-margin-low">
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad1">
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        ESTILOS DE MUSICA
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">ROCK (90)</a>
                            </li>
                            <li>
                                <a href="#">RAP(45) </a>
                            </li>
                            <li>
                                <a href="#">REGGAE(34)</a>
                            </li>
                            <li>
                                <a href="#">POP(56)</a>
                            </li>
                            <li>
                                <a href="#">FUNK(09)</a>
                            </li>
                            <li>
                                <a href="#">SOUL(11)</a>
                            </li>
                            <li>
                                <a href="#">PUNK(1)</a>
                            </li>
                            <li>
                                <a href="#">CLASICA(67)</a>
                            </li>
                            <li>
                                <a href="#">ELECTRONICA(300)</a>
                            </li>
                            <li>
                                <a href="#">METAL(345)</a>
                            </li>
                            <li>
                                <a href="#">JAZZ(45)</a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        GRUPOS OTROS PAISES
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">GRUPOS UK (90)</a>
                            </li>
                        
                        </ul>

                    </div>

                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad2">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->
            <!--Blog Listing-->
            <div class="col-md-6 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        <strong>Lista Grupos MusicTop</strong>
                    </div>
                    <div class="panel-body ">
                        <div>
                            <img src="assets/images/azul_claro.jpg" class="img-responsive" />
                        </div>
                        <div class="txt">
                            GRUPOS
                        </div>
                        <div class="cat">
                            
                        </div>
                        <div class="links">
                            <a href="#">+grupos </a>|
                                <a href="#">+grupos </a>
                               
                        </div>

                    </div>
                </div>
                
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            <!--Blog Listing-->
            <!--Categories and other -->
            <div class="col-md-3 top-margin">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad3">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading black-back">
                        NOTICIAS GRUPOS
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">NOTICIA PELEA EN CAMERINO (90)</a>
                            </li>
                            
                        </ul>

                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad4">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ANUNCIO
                    </div>
                    <div class="panel-body ">
                        <div class="ad1">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Categories and other -->


        </div>
        <!--Blog end-->


    </div>
    <!-- /.container -->
    <!--Footer -->

    <div class="col-md-12 top-margin footer-section">
        &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; Adán Rafael López Lecuona
    </div>
    <!--Footer end -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-noticias-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap-noticias.js"></script>
    <!-- SIDE MENU SCRIPTS -->
    <script src="assets/javascripts/noticias/modernizr-noticias.custom.js"></script>
    <script src="assets/javascripts/noticias/classie-noticias.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/javascripts/noticias/custom-noticias.js"></script>

</body>
</html>
