<html>
   <head>
	  <meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  <!--[if IE]>
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
	  <title> MusicTop</title>
	  <!-- BOOTSTRAP CORE STYLE  -->
	  <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
	  <!-- FONT AWESOME ICON STYLE  -->
	  <link href="/stylesheets/font-awesome.css" rel="stylesheet"/>
	  <!-- PRETTYPHOTO STYLE  -->
	  <link href="/stylesheets/prettyPhoto.css" rel="stylesheet"/>
	  <!-- CUSTOM STYLE CSS -->
	  <link href="/stylesheets/style.css" rel="stylesheet"/>
	  <!-- CUSTOM THEME COLOR - YOU CAN USE LIGHT & DARK THEMES  -->
	  <link href="/stylesheets/themes/dark.css" rel="stylesheet"/>
	  <!-- GOOGLE FONT -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

	   <!---------------------------scripts-->
	  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src= "/javascripts/chat.js"></script>

   </head>
   < body >
  <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
		 <a class="navbar-brand" href="/bienvenido/index">MusicTop</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
	
			
			<li><a href="/bienvenido/index">Inicio</a></li>
			<li><a href="/usuarios/usuarios">Usuarios</a></li>
			<li><a href="/album/album">CDs</a></li>
			<li><a href="/grupos/grupos">Grupos</a></li>
			<li><a href="/noticias/noticias">Noticias</a></li>
			<li><a href="/conciertos/conciertos">Conciertos</a></li>
			<li><a href="/lista/lista">Lista</a></li>
			<li><a href="/contacto/contacto">Contacto</a></li>
			<li><a href="/ayuda/help">Ayuda</a></li>
			<li><a href="/registrar/registrar">Registrarse</a></li>
			<li><a href="/salir/salir">Salir</a></li>
		 </ul>
	  </div>
   </div>
</div>
 <!-----------------------------parte central-->
<div id="home-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="col-md-8 pad-top scrollclass">
			<h1><align="center"><strong><mark>Lista MusicTop</strong></align></h1>
			   <p class="home-p">
				 Observa cómo esta la lista de MusicTop.
				 <br>
			   </p>

		 </div>
	  </div>
	  
   </div>
</div>


 <!-----------------------------parte adicional-->
<section id="skill-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="row text-center">
		 	<h2><strong><mark>Lista</strong></h2>
			

		 </div>
	  </div>
   </div>
</section>
	


 <!-----------------------------footer-->
	  <section id="location-sec">
		 <div class="container">
			<div class="row text-center min-set">
			   <div class="col-md-12">
				   Autor: Adán Rafael López Lecuona. SYTW 2014. <br>
				  
               </div>
            </div>
        </div>
	  </section>
   </body>
</html>